@page "/linq_tools"

<PageTitle>Linq tools</PageTitle>

<h1>Hello!</h1>

<p>This is page to test performances of your linq expressions.</p>

<p>Please note that these are ballpark values due to wasm overhead.</p>
